{{ if .Site.Data.homepage.about.enable }}
<section class="section rad-animation-group rad-fade-down" id="about">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="about__profile-picture col-12 col-md-6">
        <iframe width="550" height="400"
                src="{{ .Site.Data.homepage.about.video.x }}">
        </iframe>
      </div>
      <div class="col-12 col-md-6 my-auto my-auto">
        <h2 class="color__degrade">{{ .Site.Data.homepage.about.title }}</h2>
        <p class="lead">
          {{ .Site.Data.homepage.about.content | safeHTML }}
        </p>
      </div>
    </div>
  </div>

  <div class="about__team">
    {{ range .Site.Data.homepage.about.team }}
    <div class="about__team-member">
      <img class="lozad testimonial__author-image"
           src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
           data-src="{{ .image.x | absURL }}"
           data-srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x"
           alt="{{ .name }}"/>
      <div class="testimonial__author-info">
        <h4>{{ .name }}</h4>
        <span>{{ .position }}</span>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
